@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; }

img {
  width: 100%; }

html {
  font-size: 62.5%; }
  @media (max-width: 600px) {
    html {
      font-size: 50%; } }
  @media (max-width: 1200px) {
    html {
      font-size: 50%; } }
  @media (max-width: 900px) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 1800px) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  background: url(/images/bg-desktop.svg) no-repeat center center;
  background-size: contain;
  background-color: #674baf;
  font-weight: 400;
  padding: 5rem; }
  @media (max-width: 600px) {
    body {
      background: url(/images/bg-mobile.svg) no-repeat center center;
      background-size: cover;
      background-color: #674baf;
      padding: 3rem; } }

header {
  margin-bottom: 6rem; }

.logo-image {
  width: 18rem; }
  @media (max-width: 600px) {
    .logo-image {
      width: 15rem; } }

ion-icon {
  font-size: 45px;
  color: #fff;
  margin-left: 1.5rem; }
  ion-icon:not(:last-of-type) {
    margin-left: 1.5rem; }
  @media (max-width: 600px) {
    ion-icon {
      font-size: 30px;
      margin-bottom: 2rem; } }

.container {
  display: flex;
  flex-direction: column;
  height: 100vh; }
  @media (max-width: 600px) {
    .container {
      display: block; } }
  .container__main-content {
    display: flex;
    font-size: 2.1rem;
    color: #fff;
    font-weight: 200; }
    @media (max-width: 600px) {
      .container__main-content {
        display: block; } }
  .container__social {
    align-self: flex-end; }
    @media (max-width: 600px) {
      .container__social {
        text-align: center; } }

.button {
  padding: 2rem 7rem;
  border-radius: 100px;
  border-style: none;
  font-size: 2rem;
  color: #674baf;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5); }
  @media (max-width: 600px) {
    .button {
      font-size: 1.7rem;
      padding: 1.6rem 5.5rem;
      margin-bottom: 2rem; } }

.mockups {
  flex: 50%; }

.description {
  flex: 50%;
  padding: 5rem 4rem; }
  @media (max-width: 600px) {
    .description {
      padding: 2rem;
      font-size: 2rem;
      flex: none; } }
  .description__main-heading {
    font-family: 'Popins', sans-serif;
    font-size: 4.5rem;
    color: #fff;
    font-weight: 700; }
    .description__main-heading:last-of-type {
      margin-bottom: 3rem; }
    @media (max-width: 600px) {
      .description__main-heading {
        font-size: 2.8rem;
        text-align: center; } }
  .description__main-text {
    margin-bottom: 2rem; }
    @media (max-width: 600px) {
      .description__main-text {
        font-size: 1.6rem;
        font-weight: 200;
        text-align: center; } }
  @media (max-width: 600px) {
    .description__button-container {
      text-align: center; } }

.attribution {
  font-size: 11px;
  text-align: center; }
  @media (max-width: 600px) {
    .attribution {
      display: none; } }

.attribution a {
  color: #3e52a3; }
