@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;400;700&display=swap');

//reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

//variables
$violet: hsl(257, 40%, 49%);
$white: #fff;

//mixins
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 600px) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

html {
  font-size: 62.5%; //1rem = 10px
  @include respond(phone) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(tab-land) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(tab-port) {
    font-size: 56.25%; //1rem = 9px
  }
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  background: url(/images/bg-desktop.svg) no-repeat center center;
  background-size: cover;
  background-color: $violet;
  font-weight: 400;
  padding: 4rem;

  @include respond(phone) {
    background: url(/images/bg-mobile.svg) no-repeat center center;
    background-size: cover;
    background-color: $violet;
  }
}

header {
  margin-bottom: 6rem;
}
.logo-image {
  width: 15rem;
}

.social {
  align-self: flex-end;
}

ion-icon {
  font-size: 50px;
  color: #fff;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-heading {
  font-family: 'Popins', sans-serif;
  font-size: 3rem;
  color: $white;
}

.main-content {
  display: flex;
}

.mockups {
  flex: 50%;
}

.description {
  flex: 50%;
  padding: 5rem 4rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
