@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;400;700&display=swap');

//reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

//variables
$violet: hsl(257, 40%, 49%);

//mixins
@mixin respond-phone {
  @media (max-width: 600px) {
    @content;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  @include respond-phone {
    background-color: red;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
