@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;400;700&display=swap');

//reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

//variables
$violet: hsl(257, 40%, 49%);
$white: #fff;

//mixins
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 600px) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

html {
  font-size: 62.5%; //1rem = 10px
  @include respond(phone) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(tab-land) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(tab-port) {
    font-size: 56.25%; //1rem = 9px
  }
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  background: url(/images/bg-desktop.svg) no-repeat left center;
  background-size: contain;
  background-color: $violet;
  font-weight: 400;
  padding: 5rem;

  @include respond(phone) {
    background: url(/images/bg-mobile.svg) no-repeat center center;
    background-size: cover;
    background-color: $violet;
    padding: 3rem;
  }
}

header {
  margin-bottom: 6rem;
}
.logo-image {
  width: 18rem;

  @include respond(phone) {
    width: 15rem;
  }
}

ion-icon {
  font-size: 45px;
  color: #fff;
  margin-left: 1.5rem;

  &:not(:last-of-type) {
    margin-left: 1.5rem;
  }

  @include respond(phone) {
    font-size: 30px;
    margin-bottom: 2rem;
  }
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  @include respond(phone) {
    display: block;
  }

  &__main-content {
    display: flex;
    font-size: 2.1rem;
    color: $white;
    font-weight: 200;

    @include respond(phone) {
      display: block;
    }
  }

  &__social {
    align-self: flex-end;

    @include respond(phone) {
      text-align: center;
    }
  }
}

.button {
  padding: 2rem 7rem;
  border-radius: 100px;
  border-style: none;
  font-size: 2rem;
  color: $violet;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);

  @include respond(phone) {
    font-size: 1.7rem;
    padding: 1.6rem 5.5rem;
    margin-bottom: 2rem;
  }
}

.mockups {
  flex: 50%;
}

.description {
  flex: 50%;
  padding: 5rem 4rem;

  @include respond(phone) {
    padding: 2rem;
    font-size: 2rem;
    flex: none;
  }

  &__main-heading {
    font-family: 'Popins', sans-serif;
    font-size: 4.2rem;
    color: $white;
    font-weight: 700;
    margin-bottom: 1.5rem;

    &:last-of-type {
      margin-bottom: 3rem;
    }

    @include respond(phone) {
      font-size: 2.8rem;
      text-align: center;
    }
  }

  &__main-text {
    margin-bottom: 2rem;
    font-size: 2.1rem;

    @include respond(phone) {
      font-size: 1.6rem;
      font-weight: 200;
      text-align: center;
    }
  }

  &__button-container {
    @include respond(phone) {
      text-align: center;
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;

  @include respond(phone) {
    display: none;
  }
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
